<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
    App BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="ion-text-center" ><img style="width: 170px;" src="../../assets/img/bmi.png"></div>
<ion-card class="ion-padding" color="success">
  <ion-card color="light">
    <ion-item><ion-input class="ion-padding" label="กรอกน้ำหนัก " placeholder="kg" type="number"></ion-input></ion-item>
    <ion-item><ion-input class="ion-padding" label="กรอกส่วนสูง" placeholder="cm"></ion-input></ion-item></ion-card>
  <div class="ion-text-center">
    <br>
  <ion-button color="warning" size="large" expand="block" shape="round">คำนวณ</ion-button></div>
</ion-card>
<ion-card color="secondary">
<ion-card-header>
  <ion-card-subtitle>ผลลัพธ์</ion-card-subtitle>
  <ion-card-title>18.5</ion-card-title>
</ion-card-header>
</ion-card>
<ion-card color="danger">
  <ion-card-header>
    <ion-card-subtitle>แปรผล.


    </ion-card-subtitle>
    <ion-card-title>อยู่ในเกณฑ์ปกติ</ion-card-title>
  </ion-card-header>
  </ion-card>
</ion-content>
